<section class="about-us-section">
  <div class="container about-us-container">
    <div class="square"></div>
    <div class="about-us-radial-gradient radial-gradient"></div>
    <div class="about-us-text">
      <div>
        <h2 class="about-us-title" id="about-us">
          Leading the Way in Cybersecurity Innovation
        </h2>
        <p class="about-us-description">
          With decades of expertise and a relentless pursuit of excellence, we
          deliver security solutions designed to protect multinational
          corporations and small businesses alike
        </p>

        <p class="about-us-details">
          At Secure Nexus/Guardian Tech, we understand the complexity of
          cybersecurity challenges that businesses face today. Our team of
          experts is committed to providing state-of-the-art solutions tailored
          to your specific needs, ensuring robust protection and peace of mind.
        </p>
        <button class="common-buttons button-read-more" type="button">
          Read More
        </button>
      </div>
    </div>
  </div>
</section>
