<section class="container">
  <div class="benefits-container">
    <ul class="benefits-list list">
      <li class="rectangle">
        <div class="circle"></div>
        <h3>Comprehensive Security Audit</h3>
      </li>
      <li class="rectangle">
        <div class="circle"></div>
        <h3>Real-Time Threat Monitoring</h3>
      </li>
      <li class="rectangle">
        <div class="circle"></div>
        <h3>Cutting-Edge Cyber Defense Technologies</h3>
      </li>
    </ul>
  </div>
</section>
