<div class="footer">
  <div class="container footer-container">
    <div class="navigation-wrapper">
      <a class="footer-logo link" href="./index.html"> Secure Nexus </a>

      <div class="navigation-list">
        <ul class="quick-links-list list">
          <h4 class="footer-headings">Quick Links</h4>
          <div class="quick-links-wrapper">
            <li class="quick-item">
              <a class="footer-link link" href="#about-us" class="link"
                >About Us</a
              >
            </li>
            <li class="quick-item">
              <a class="footer-link link" href="#services" class="link">
                Services</a
              >
            </li>
            <li class="quick-item">
              <a class="footer-link link" href="#resources" class="link"
                >Resource</a
              >
            </li>
            <li class="quick-item">
              <a class="footer-link" href="#contact-us" class="link"
                >Contact Us</a
              >
            </li>
          </div>
        </ul>

        <ul class="legal-list list">
          <h4 class="footer-headings">Legal</h4>
          <div class="legal-wrapper">
            <li>
              <a class="footer-link" href="">Privacy Policy</a>
            </li>
            <li><a class="footer-link" href="">Terms of Service</a></li>
            <li><a class="footer-link" href="">Compliance</a></li>
          </div>
        </ul>

        <ul class="company-information-list list">
          <h4 class="footer-headings">Company Information</h4>
          <div class="company-information-wrapper">
            <li class="company-information-item">
              <svg width="24" height="24">
                <use href="./images/sprite.svg#icon-telephone"></use>
              </svg>
              <a class="footer-link" href="tel:+1-800-00-67">+1-800-SECURE</a>
            </li>
            <li class="company-information-item">
              <svg width="24" height="24">
                <use href="./images/sprite.svg#icon-email"></use>
              </svg>
              <a class="footer-link" href="mailto:contact@guardiantech.com"
                >contact@guardiantech.com</a
              >
            </li>
            <li class="company-information-item">
              <svg width="24" height="24">
                <use href="./images/sprite.svg#icon-location"></use>
              </svg>
              <a class="footer-link" href=""
                >123 Cyber Lane, Tech City, IN 46000, United States</a
              >
            </li>
          </div>
        </ul>

        <ul class="careers-list list">
          <h4 class="footer-headings">Careers</h4>
          <div class="careers-wrapper">
            <a class="footer-link link" href="">Join Our Team</a>
            <p class="careers-text">
              Interested in making a difference in cybersecurity? Visit our
              Careers page to see available opportunities and become a part of
              our innovative team
            </p>
          </div>
        </ul>
      </div>
    </div>

    <div class="copyright-container">
      <p class="copyright-text">© 2024 Secure Nexus. All rights reserved.</p>
    </div>
  </div>
</div>
