<section class="container hero-container">
  <div class="hero-text-wrapper">
    <h1 class="hero-main-text">
      Empowering Your Digital World with Advanced Security Solutions
    </h1>
    <p class="hero-subtext">
      Discover unparalleled protection with Secure Nexus, your partners in
      defending against cyber threats and enhancing your operational integrity.
    </p>
  </div>

  <div class="layer-wrapper">
    <div class="hero-radial-gradient radial-gradient"></div>
    <img
      src="./images/layer.webp"
      alt="picture about digital security"
      width="549"
      height="469"
    />
  </div>

  <div class="hero-button-wrapper">
    <button class="common-buttons button" type="button">Learn More</button>
    <button class="common-buttons button" type="button">Get Started</button>
  </div>
</section>
