<section class="resources-section">
  <div class="container resources-container">
    <div class="resources-text">
      <h2 id="resources">
        Explore Our Rich Library of Cybersecurity Resources
      </h2>
      <p>
        Enhance your knowledge with our curated content featuring best
        practices, case studies, and the latest industry insights
      </p>
    </div>

    <ul class="resources-list list">
      <li class="resources-item">
        <div class="resources-radial-gradient radial-gradient"></div>
        <div class="resources-circle"></div>
        <h4>E-books</h4>
      </li>
      <li class="resources-item">
        <div class="resources-radial-gradient radial-gradient"></div>
        <div class="resources-circle"></div>
        <h4>Webinars</h4>
      </li>
      <li class="resources-item">
        <div class="resources-radial-gradient radial-gradient"></div>
        <div class="resources-circle"></div>
        <h4>Blog Articles</h4>
      </li>
    </ul>
  </div>
</section>
