<section class="services">
  <div class="container services-container">
    <div class="services-text">
      <h2 id="services">Our Comprehensive Range of Cybersecurity Services</h2>
      <p>
        From audits to full-scale security management, our services cover all
        aspects of cyber protection to keep your data safe and your business
        secure
      </p>
    </div>
    <ul class="services-list list">
      <div class="services-radial-gradient radial-gradient"></div>
      <li class="services-item">
        <div class="square-tilted-left"></div>
        <div class="square-tilted-right">
          <div class="circle services-circle"></div>
          <div class="services-item-text">
            <h2>Risk Assessment</h2>
            <p>
              Proactively identify vulnerabilities and threats before they
              become problems.
            </p>
            <div class="button-container">
              <button type="button">
                Learn more
                <svg width="18" height="14" ;>
                  <use href="./images/sprite.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </li>

      <li class="services-item">
        <div class="square-tilted-left"></div>
        <div class="square-tilted-right">
          <div class="circle services-circle"></div>
          <div class="services-item-text">
            <h2>Incident Response</h2>
            <p>
              Rapid and effective action to mitigate the effects of security
              breaches.
            </p>
            <div class="button-container">
              <button type="button">
                Learn more
                <svg width="18" height="14" ;>
                  <use href="./images/sprite.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </li>

      <li class="services-item">
        <div class="square-tilted-left"></div>
        <div class="square-tilted-right">
          <div class="circle services-circle"></div>
          <div class="services-item-text">
            <h2>Compliance Solutions</h2>
            <p>
              Ensure your business meets all regulatory and compliance
              requirements for cybersecurity.
            </p>
            <div class="button-container">
              <button type="button">
                Learn more
                <svg width="18" height="14" ;>
                  <use href="./images/sprite.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
