<section class="statistics">
  <div class="container statistics-container">
    <ul class="statistics-list list">
      <li class="statistics-item">
        <div class="icon-circle common-properties icon-backet">
          <svg width="50" height="46">
            <use href="./images/sprite.svg#icon-backet"></use>
          </svg>
        </div>
        <div class="statistics-text">
          <h3 class="statistics-title">4K+</h3>
          <p class="statistics-description">Cyber Security Project</p>
        </div>
      </li>
      <li class="statistics-item">
        <div class="icon-circle icon-folder">
          <svg width="40" height="50">
            <use href="./images/sprite.svg#icon-folder"></use>
          </svg>
        </div>
        <div class="statistics-text">
          <h3 class="statistics-title">100k+</h3>
          <p class="statistics-description">Customer Globally</p>
        </div>
      </li>
      <li class="statistics-item">
        <div class="icon-circle icon-money">
          <svg width="55" height="55">
            <use href="./images/sprite.svg#icon-money"></use>
          </svg>
        </div>
        <div class="statistics-text">
          <h3 class="statistics-title">350+</h3>
          <p class="statistics-description">Cyber Security Expert</p>
        </div>
      </li>
      <li class="statistics-item">
        <div class="icon-circle icon-file">
          <svg width="50" height="57">
            <use href="./images/sprite.svg#icon-file"></use>
          </svg>
        </div>
        <div class="statistics-text">
          <h3 class="statistics-title">100%</h3>
          <p class="statistics-description">Client Retention Rate</p>
        </div>
      </li>
    </ul>
  </div>
</section>
